@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.table-1 {
	visibility: hidden;
	position: absolute;
	margin-left: 0;
	padding-left: 0;
	height: 100%;
	background-color: black;
	top: 0;
	left: 0;
	bottom: 0;
	transition: 1ms;
	width: 15%;
	text-align: center;
	font-size: 30px;
	transition: transform 1s;
	appearance: top;
	z-index: 10;
}

@keyframes animation-1 {
	0% {
		transform: translate3d(-300px, 0px, 0px);
	}

	100% {
		transform: translate3d(0px, 0px, 0px);
	}
}
#nav-toggle:checked ~ .sidebar {
    left: 0; /* slide in */
}

.table-3:active .table-1 {
	transform: translate3d(100%);
	visibility: visible;
	animation: animation-1 1s normal forwards;
}

.table-1:hover {
	transform: translate3d(100%);
	visibility: visible;
	animation: animation-1 1s normal forwards;
}

.table-2 {
	cursor: pointer;
	position: absolute;
	top: 2.5%;
}

.table-2 {
	left: 4%;
	height: 5%;
	width: 5%;
}

.navbar-item:hover {
	cursor: pointer;
	text-decoration: underline;
	color: rgb(58, 58, 58);
}

.navbar-item {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.header {
	top: 5;
	font-family: 'Libre Baskerville', serif;
}

.table-3 {
	width: 50%;
}

.table-3 {
	left: 4%;
	height: 1%;
	width: 1%;
}

img.table-2 {
	width: 100%;
	height: 100%;
}